/*! CSS Used from: Embedded */
:where(.css-dev-only-do-not-override-k83k30)[class^='ant-btn'],
:where(.css-dev-only-do-not-override-k83k30)[class*=' ant-btn'] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30)[class^='ant-btn']::before,
:where(.css-dev-only-do-not-override-k83k30)[class*=' ant-btn']::before,
:where(.css-dev-only-do-not-override-k83k30)[class^='ant-btn']::after,
:where(.css-dev-only-do-not-override-k83k30)[class*=' ant-btn']::after {
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn > span {
  display: inline-block;
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-k83k30).ant-btn-primary:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}
