* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
header {
  height: 100px;
  border: 1px solid #000;
  width: 100%;
  min-height: 100px;
}
.left {
  width: 300px;
  display: inline-block;
  height: 100%;
  border: 1px solid #000;
  min-height: 100px;
}
.main {
  display: inline-block;
  width: calc(100% - 309px);
  border: 1px solid #000;
  height: 100%;
  min-height: 100px;
}
div {
  margin-right: -4px;
  vertical-align: top;
  min-height: 100px;
  height: 100%;
}